<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= title %>
    </title>

    <!-- css -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebars.css' />
    <link rel='stylesheet' href='/stylesheets/signin.css' />
    <!-- <link rel="stylesheet" href='/stylesheets/game.css' /> -->
    <link rel="stylesheet" href='/stylesheets/index.css' />

    <!-- my js file -->
    <!-- <script type="text/javascript" src="/javascripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js "></script>
    <script type="text/javascript" src='/javascripts/index.js'></script>
    <script type="text/javascript" src='/javascripts/game.js'></script> -->
</head>