@import url('https://fonts.googleapis.com/css?family=Bebas%20Neue');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans');
h1,
h2,
h3 {
    font-family: "Bebas Neue";
}

.btn-config {
    font-family: "Open Sans";
    font-weight: bolder;
    font-size: 16px;
    background-image: linear-gradient(#FFB548, #F3AF34);
    padding: 15px 55px;
}

.logo {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.navigation {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
    color: white;
}

.navbar-config {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 5rem 1rem 5rem;
    /* opacity: 0.5; */
}

.jumbotron {
    margin: auto;
    background-color: #080A0B !important;
}

.vertical-center {
    margin-top: 0;
    margin-bottom: 0;
}


/* card */

.card-config {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.card-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin-bottom: 0;
}

.card-sub-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9e9e9e;
}

.card-foot {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #9e9e9e;
}

.card-img {
    /* border-color: #FFB548 !important;
    border-width: 10px; */
    width: 50px;
    height: 50px;
}


/* page */

.page {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(37, 37, 37);
    height: 100vh;
}

.page-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 56px;
}

.page-sub-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
}

.page-desc {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.first-page {
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("../images/main-bg.jpg");
    /* background-image: url("../images/main-bg.jpg"); */
}

.first-page-story {
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */

@media screen and (min-width: 601px) {
    .first-page-title {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 62px;
        line-height: 83px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    .first-page-title {
        font-family: Arial;
        font-style: normal;
        font-size: 52px;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .page-title {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 36px;
    }
    .page-desc {
        font-size: 12px;
    }
    .card-title {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 2px;
        color: #FFB548;
        margin-bottom: 0;
    }
}

.first-page-sub-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.second-page {
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("../images/the-games-bg.jpg");
    background-color: #080A0B !important;
}

.third-page {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../images/features.jpg");
    background-color: #080A0B !important;
}

.fourth-page {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("../images/requirements.png");
    background-color: #080A0B !important;
}

.fourth-page-story {
    font-size: 12px;
    text-align: justify;
    width: 100%;
    top: 0px;
    z-index: -1;
    color: white;
}

.fourth-page-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

.fifth-page {
    background-image: url("/images/top-score-bg.png");
    background-color: #080A0B !important;
}

.sixth-page {
    /* background-image: url(../images/the-games-bg.jpg); */
    background-color: #080A0B !important;
}

.mylist {
    list-style-type: circle;
}

@media (max-width: 700px) {
    img#myImage {
        display: none;
    }
}


/* footer */

.footer-config {
    background-color: #080A0B;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 12px;
}


/* .footer-config li {
    padding-left: 5rem;
} */


/* input */

.full-input {
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(53, 53, 53);
    border-radius: 2px;
}

input {
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    font-size: 14pt;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}

label {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
}


/* line */

.vl {
    border-left: 6px solid white;
    height: 100;
    margin-left: 1.4rem;
    margin-bottom: 0.1rem;
}


/* twitter icon */

.twitter-color {
    color: #9e9e9e;
}


/* table */

.fourth-page-table {
    background-image: url("../images/disquette.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* carousel */

.carousel-indicators li {
    width: 10px!important;
    height: 10px!important;
    margin-right: 15px!important;
    margin-left: 15px!important;
    border-radius: 50%!important;
    border: 0!important;
    background-color: transparent!important;
    box-shadow: 0 0 0 .2rem rgb(255, 255, 255);
}

.carousel-indicators .active {
    background-color: white !important;
}

.content-carousel {
    width: 80%;
}